<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zl.way.sp.mapper.WayDiscountMapper">
  <resultMap id="BaseResultMap" type="com.zl.way.sp.model.WayDiscount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="commodity_name" jdbcType="VARCHAR" property="commodityName" />
    <result column="commodity_cate" jdbcType="VARCHAR" property="commodityCate" />
    <result column="commodity_price" jdbcType="DECIMAL" property="commodityPrice" />
    <result column="shop_position" jdbcType="VARCHAR" property="shopPosition" />
    <result column="shop_lng" jdbcType="DECIMAL" property="shopLng" />
    <result column="shop_lat" jdbcType="DECIMAL" property="shopLat" />
    <result column="user_login_id" jdbcType="BIGINT" property="userLoginId" />
    <result column="commodity_real" jdbcType="INTEGER" property="commodityReal" />
    <result column="commodity_unreal" jdbcType="INTEGER" property="commodityUnreal" />
    <result column="limit_time_expire" jdbcType="TIMESTAMP" property="limitTimeExpire" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="ad_code" jdbcType="VARCHAR" property="adCode" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="commodity_approve" jdbcType="TINYINT" property="commodityApprove" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, commodity_name, commodity_cate, commodity_price, shop_position, shop_lng, shop_lat, 
    user_login_id, commodity_real, commodity_unreal, limit_time_expire, create_time, 
    update_time, is_deleted, ad_code, city_code, commodity_approve, commodity_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from way_discount
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from way_discount
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zl.way.sp.model.WayDiscount" useGeneratedKeys="true">
    insert into way_discount (commodity_name, commodity_cate, commodity_price, 
      shop_position, shop_lng, shop_lat, 
      user_login_id, commodity_real, commodity_unreal, 
      limit_time_expire, create_time, update_time, 
      is_deleted, ad_code, city_code, 
      commodity_approve, commodity_id)
    values (#{commodityName,jdbcType=VARCHAR}, #{commodityCate,jdbcType=VARCHAR}, #{commodityPrice,jdbcType=DECIMAL}, 
      #{shopPosition,jdbcType=VARCHAR}, #{shopLng,jdbcType=DECIMAL}, #{shopLat,jdbcType=DECIMAL}, 
      #{userLoginId,jdbcType=BIGINT}, #{commodityReal,jdbcType=INTEGER}, #{commodityUnreal,jdbcType=INTEGER}, 
      #{limitTimeExpire,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isDeleted,jdbcType=TINYINT}, #{adCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{commodityApprove,jdbcType=TINYINT}, #{commodityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.zl.way.sp.model.WayDiscount" useGeneratedKeys="true">
    insert into way_discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commodityName != null">
        commodity_name,
      </if>
      <if test="commodityCate != null">
        commodity_cate,
      </if>
      <if test="commodityPrice != null">
        commodity_price,
      </if>
      <if test="shopPosition != null">
        shop_position,
      </if>
      <if test="shopLng != null">
        shop_lng,
      </if>
      <if test="shopLat != null">
        shop_lat,
      </if>
      <if test="userLoginId != null">
        user_login_id,
      </if>
      <if test="commodityReal != null">
        commodity_real,
      </if>
      <if test="commodityUnreal != null">
        commodity_unreal,
      </if>
      <if test="limitTimeExpire != null">
        limit_time_expire,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="adCode != null">
        ad_code,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="commodityApprove != null">
        commodity_approve,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commodityName != null">
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityCate != null">
        #{commodityCate,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPosition != null">
        #{shopPosition,jdbcType=VARCHAR},
      </if>
      <if test="shopLng != null">
        #{shopLng,jdbcType=DECIMAL},
      </if>
      <if test="shopLat != null">
        #{shopLat,jdbcType=DECIMAL},
      </if>
      <if test="userLoginId != null">
        #{userLoginId,jdbcType=BIGINT},
      </if>
      <if test="commodityReal != null">
        #{commodityReal,jdbcType=INTEGER},
      </if>
      <if test="commodityUnreal != null">
        #{commodityUnreal,jdbcType=INTEGER},
      </if>
      <if test="limitTimeExpire != null">
        #{limitTimeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="adCode != null">
        #{adCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="commodityApprove != null">
        #{commodityApprove,jdbcType=TINYINT},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zl.way.sp.model.WayDiscount">
    update way_discount
    <set>
      <if test="commodityName != null">
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityCate != null">
        commodity_cate = #{commodityCate,jdbcType=VARCHAR},
      </if>
      <if test="commodityPrice != null">
        commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      </if>
      <if test="shopPosition != null">
        shop_position = #{shopPosition,jdbcType=VARCHAR},
      </if>
      <if test="shopLng != null">
        shop_lng = #{shopLng,jdbcType=DECIMAL},
      </if>
      <if test="shopLat != null">
        shop_lat = #{shopLat,jdbcType=DECIMAL},
      </if>
      <if test="userLoginId != null">
        user_login_id = #{userLoginId,jdbcType=BIGINT},
      </if>
      <if test="commodityReal != null">
        commodity_real = #{commodityReal,jdbcType=INTEGER},
      </if>
      <if test="commodityUnreal != null">
        commodity_unreal = #{commodityUnreal,jdbcType=INTEGER},
      </if>
      <if test="limitTimeExpire != null">
        limit_time_expire = #{limitTimeExpire,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="adCode != null">
        ad_code = #{adCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="commodityApprove != null">
        commodity_approve = #{commodityApprove,jdbcType=TINYINT},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zl.way.sp.model.WayDiscount">
    update way_discount
    set commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_cate = #{commodityCate,jdbcType=VARCHAR},
      commodity_price = #{commodityPrice,jdbcType=DECIMAL},
      shop_position = #{shopPosition,jdbcType=VARCHAR},
      shop_lng = #{shopLng,jdbcType=DECIMAL},
      shop_lat = #{shopLat,jdbcType=DECIMAL},
      user_login_id = #{userLoginId,jdbcType=BIGINT},
      commodity_real = #{commodityReal,jdbcType=INTEGER},
      commodity_unreal = #{commodityUnreal,jdbcType=INTEGER},
      limit_time_expire = #{limitTimeExpire,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      ad_code = #{adCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      commodity_approve = #{commodityApprove,jdbcType=TINYINT},
      commodity_id = #{commodityId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>